@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');

.ProfileV{
  position: absolute;
  top: 10rem;
  left:62rem;
  font-family: 'Poppins', sans-serif;

  border-radius: 20px;
  width: 650px;

}


.pv-top-line{
    display: flex;
    margin-bottom: 10px;
}
.pv-last{
    display: flex;
    margin-top: 30px;
}

.pv-top-first{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 170px;
    height: 160px;
    display: flex;
    flex-direction: column;

}

.pv-top-first:hover{
    background-color: rgb(226, 219, 249);
    transition: all .4s ease-in-out;
}

.pv-top-mid:hover{
    background-color: rgb(226, 219, 249);
    transition: all .4s ease-in-out;
}
.pv-top-low:hover{
    background-color: rgb(226, 219, 249);
    transition: all .4s ease-in-out;
}
.pv-last-1:hover{
    background-color: rgb(226, 219, 249);
    transition: all .4s ease-in-out;
}
.pv-last-2:hover{
    background-color: rgb(226, 219, 249);
    transition: all .4s ease-in-out;
}
.pv-last-3:hover{
    background-color: rgb(226, 219, 249);
    transition: all .4s ease-in-out;
}

.pv-top-first:hover .pv-img-1{
    color: #2BC155;
    transition: all .4s ease-in-out;
}

.pv-top-mid:hover .pv-img-2{
    color: #2BC155;
    transition: all .4s ease-in-out;
}

.pv-top-low:hover .pv-top-low-img{
    color: #40189D;
    transition: all .4s ease-in-out;
}


.pv-last-1:hover .pv-last-1-img{
    color: #40189D;
    transition: all .4s ease-in-out;
}

.pv-last-2:hover .pv-last-2-img{
    color: #40189D;
    transition: all .4s ease-in-out;
}

.pv-last-3:hover .pv-last-3-img{
    color: orange;
    transition: all .4s ease-in-out;
}

.cars:hover .car{
    color: #e255d4;
    transition: all .4s ease-in-out;
}


.googleplay:hover .google{
    color: #e255d4;
    transition: all .4s ease-in-out;
}

.XT:hover .X{
    color: rgb(6, 142, 142);
    transition: all .4s ease-in-out;
}

.X{
    margin-left: 1vw;
    font-size: 2.2vw;
    margin-top: 1vw;
    color: #e255d4;

}

.car{
    margin-left: 1vw;
    font-size: 2.2vw;
    margin-top: 1vw;
    color: rgb(6, 142, 142);
}

.google{
    margin-left: 1vw;
    font-size: 2.2vw;
    margin-top: 1vw;
    color: rgb(6, 142, 142);
}
.pv-last-3-img{
    margin-left: 1vw;
    font-size: 2.2vw;
    margin-top: 1vw;
    color: #40189D;
}
.pv-last-2-img{
    margin-left: 1vw;
    font-size: 2.2vw;
    margin-top: 1vw;
    color: orange;
}
.pv-last-1-img{
    margin-left: 1vw;
    font-size: 2.2vw;
    margin-top: 1vw;
    color: orange;
}


.pv-1{
    margin-left: 20px;

}
.pv-h3{
    font-size: 15px;
    font-weight: 400;
}

.pv-h1{
    font-size: 20px;
    font-weight: 600;
    margin-top: -5PX;
    margin-left: 3px;
}
.pv-2{
    display: flex;
  
}
.pv-img-1{
    margin-left: 25px;
    margin-top: 20px;
    font-size: 2.2vw;
    color: #40189D;
}

.pv-top-low-img{
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 2.2vw;
    color: #2BC155;
}

.pv-icon{
    display: flex;
    flex-direction: column;
}
.pv-icon span{
    font-size: 12px;
    font-weight: 800;
    color: #2BC155;
    margin-left: 20px;
    margin-top: 23px;

}
.pv-icon p{
    font-size: 10px;
    font-weight: 200;
    margin-top: 0px;
    margin-left: 20px;
    color: #B0B0B0;
}

.pv-top-mid{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 170px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.pv-1-1{
    display: flex;
    flex-direction: column;
}
.pv-1-1 h3{
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
}
.pv-1-1 h1{
    font-size: 20px;
    font-weight: 600;
    margin-top: -5PX;
    margin-left: 20px;
}

.pv-1-2{
    display: flex;
}
.pv-img-2{
    margin-left: 23px;
    margin-top: 20px;
    font-size: 2.2vw;
    color: #40189D;
}
.pv-1-2 span{
    font-size: 12px;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 10px;
}

.pv-top-low{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 170px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.pv-2-1 h3 {
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
}
.pv-2-1 h1{
    font-size: 20px;
    font-weight: 600;
    margin-top: -5PX;
    margin-left: 20px;

}


.pv-top-low img{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}



.pv-last-1{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 170px;
    height: 160px;
    display: flex;
    flex-direction: column;

}

.pv-tag-1 h3 {
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;

}

.pv-tag-1 h1{
    font-size: 20px;
    font-weight: 600;
    margin-top: -5PX;
    margin-left: 20px;

}

.pv-last-1 img{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.pv-last-2{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 170px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.pv-last-2-1 h3{
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;

}
.pv-last-2-1 h1{
    font-size: 20px;
    font-weight: 600;
    margin-top: -5PX;
    margin-left: 20px;

}

.pv-last-2 img{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;


}

.pv-last-3{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 170px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.pv-last-3-1 h3{
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;

}
.pv-last-3-1 h1{
    font-size: 20px;
    font-weight: 600;
    margin-top: -5PX;
    margin-left: 20px;

}
.pv-last-3 img{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;

}
