@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');

.ProfileS{
  position: absolute;
  top: 10rem;
  left:20rem;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 650px;
  height: 390px;
}
.ProfileS:hover{
  background-color: rgb(226, 219, 249);
  transition: all .4s ease-in-out;
}

.ps{
    display: flex;
    justify-content: space-between;
}

.ps-h1{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}
.ps-img{
    width: 24px;
    height: 24px;
    margin-top: 20px;
    margin-right: 40px;
}

.ps-mid{
    display: flex;
}

.ps-bar{
   
   margin-top: -4vw;
   margin-left: -4vw;

}

.ps-last{
    margin-left: -6vw;
}

.psl-h2{
    margin-left: 60px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
}

.psl-l{
    margin-left: 60px;
    width: 200px;
    height: 120px;
}

.Legend{
    position: relative;
    left: 2vw;
    display: flex;
    flex-direction: column;
    margin-left:2vw;
}

.Legend-1{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -1vw;
}
.Legend-2{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
}   
.Legend-3{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -10px;

}
.Legend-4{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
}
.Legend-1 div{
    background-color: green;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    
}
.Legend-2 div{
    background-color: orange;
    width: 25px;
    height: 20px;
    border-radius: 50%;
}
.Legend-3 div{
    background-color: blue;
    width: 25px;
    height: 20px;
    border-radius: 50%;
}
.Legend-4 div{
    background-color: gray;
    width: 25px;
    height: 20px;
    border-radius: 50%;
}

.Legend-1 span{
    font-weight: 500;
    font-size: 16px;
}
.Legend-1 p{
    font-weight: 300;
    font-size: 13px;
}
.Legend-2 span{
    font-weight: 500;
    font-size: 16px;
}
.Legend-2 p{
    font-weight: 300;
    font-size: 13px;
}
.Legend-3 span{
    font-weight: 500;
    font-size: 16px;
}
.Legend-3 p{
    font-weight: 300;
    font-size: 13px;
}
.Legend-4 span{
    font-weight: 500;
    font-size: 16px;
}
.Legend-4 p{
    font-weight: 300;
    font-size: 13px;
}