@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');

.SideBar{
    height: 100vh;
    width: 270px;
    background-color: #40189D;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: fixed;
    overflow: hidden;
}
.img{
    height: 66px;
    width: 188px;
    margin-top:10px;
    margin-left: 10px;
}

span{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.side-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

li button {
   padding: 20px ;
   width: 13.49vw;
   border: none;
   background-color: #40189D;
   font-size: 20px;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
   outline: none;
   display: flex;
   gap: 20px;
   align-items: center;
   
   
}
li :hover {
    background-color: #F2F2F2;
    transition: all .4s ease-in-out;
 }


 


