@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');


.TopBar{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #F2F2F2;
    margin-left: 270px;
    display: flex;
    align-items: center;
    gap:30px;
    font-family: 'Poppins', sans-serif;
    z-index: 10000;

}

.person{
    font-size: 1vw !important;
    background-color: #E3E3E3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #40189D;
    
}
.person:hover{
    color: orange;
    transition: all .4s ease-in-out;
    background-color: #40189D;
}

.image-menu{
    font-size: 30px;
}
.image-menu:hover{
    color: orange;
    transition: all .4s ease-in-out;
}
.menu{
    margin-left:30px ;
    cursor: pointer;
}
.heading{
    font-size: 30px;
    font-weight: 600;
}
.heading:hover{
    color: #40189D;

}

.mid-top{
    margin-left: 130px;
}


.mid-top .top-in{
    padding: 20px;
    border-radius: 30px;
    border: none;
    background-color: #E3E3E3;
}

.mid-top .top-in:hover{
    background-color: #40189D;
    transition: all .4s ease-in-out;
    color: white;
}
.searchicon{
    color: #ac97dd;
}

input::placeholder {
    color: #40189D;
}
input:hover::placeholder {
    color: white;
}
textarea:focus, input:focus{
    outline: none;
}

.last-top{
    margin-left: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.last-top img{
    cursor: pointer;
}
.user-data{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.user-h3{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    
}
.user-p{
    margin-top: -20px;
    font-size: 10px;
    font-weight: 100;
}

.last-top{
    position: relative;
}

.last-top-icon-1{
    background-color: white;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    padding: 10px;
    color: #3E4954;
}

.last-top-icon-1:hover{
    background-color: rgb(226, 219, 249);
    transition: all .4s ease-in-out;
    color: #40189D;

}
.last-top-icon-2:hover{
    background-color: rgb(226, 219, 249);
   transition: all .4s ease-in-out;
   color: #40189D;

}

.sl-1{
    position: absolute;
    left: 2vw;
    top: 0.5vw;
    width: 1.3vw;
    height: 1.3vw;
    background-color: #40189D;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
}


.sl-1 p{
    font-size: 13px;
    margin-left: 0.3vw;
    color: white;
}


.last-top-icon-2{
    background-color: white;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    padding: 10px;
    color: #3E4954;
}

.sl-2{
    position: absolute;
    left: 7.3vw;
    top: 0.5vw;
    width: 1.3vw;
    height: 1.3vw;
    background-color: #40189D;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
}
.sl-2 p{
    font-size: 13px;
    margin-left: 0.2vw;
    color: white;
}