@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');


.TopBar{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #F2F2F2;
    margin-left: 270px;
    display: flex;
    align-items: center;
    gap:30px;
    font-family: 'Poppins', sans-serif;
    z-index: 10000;

}
.menu{
    margin-left:30px ;
    cursor: pointer;
}
.heading{
    font-size: 30px;
    font-weight: 600;
}

.mid-top{
    margin-left: 130px;
}


.mid-top .top-in{
    padding: 20px;
    border-radius: 30px;
    border: none;
    background-color: #E3E3E3;
    
   
}
textarea:focus, input:focus{
    outline: none;
}

.last-top{
    margin-left: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.last-top img{
    cursor: pointer;
}
.user-data{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.user-h3{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    
}
.user-p{
    margin-top: -20px;
    font-size: 10px;
    font-weight: 100;
}